<ion-item>
  <ion-thumbnail slot="start">
    <ion-img [src]="place.imageUrl"> </ion-img>
  </ion-thumbnail>
  <ion-label>
    <h2>{{ place.title }}</h2>
    <p>{{ place.description }}</p>
    <div class="offer-details">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-text color="primary" class="space-left">{{
        getDummyDate() | date
      }}</ion-text>
      <span class="space-left"> to </span>
      <ion-icon name="calendar-outline" class="space-left"></ion-icon>
      <ion-text color="primary" class="space-left">{{
        getDummyDate() | date
      }}</ion-text>
    </div>
  </ion-label>
</ion-item>
